<!-- Page Header Start -->
<div class="container-fluid mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <div class="slider">
            <div class="slider-container">
                <div class="slide active" style="background-image: url('assets/img/banner_images/skin_product_banner1.png');">
                    <div class="infos">
                        <h1>Skin Care</h1>
                        <p>Unlock the secret to timeless beauty through the art of skincare. Your radiant journey begins here.</p>
                        <a href="" class="btn btn-light py-2 px-3" style="background-color: #000;color: #fff;border: 1px solid #000;">Shop Now</a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('assets/img/banner_images/skin_care_banner1.png');">
                    <div class="infos">
                        <h1>Skin Care</h1>
                        <p>Unlock the secret to timeless beauty through the art of skincare. Your radiant journey begins here.</p>
                        <a href="" class="btn btn-light py-2 px-3" style="background-color: #000;color: #fff;border: 1px solid #000;">Shop Now</a>
                    </div>
                </div>
              
            </div>
            <div class="eraser"></div>
            <div class="buttons-container">
                <button id="previous"><i class="fas fa-chevron-left"></i></button>
                <button id="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Start -->
<div class="container pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badges border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badges border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badges border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badges border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badges border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                        <span class="badges border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Price End -->



            <!-- skin type -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Skin Type</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <!-- checked -->
                        <input type="checkbox" class="custom-control-input" checked id="skin-all"   >
                        <label class="custom-control-label" for="skin-all">All skin Types</label>
                        <span class="badges border font-weight-normal">14</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="skin-1">
                        <label class="custom-control-label" for="skin-1">Dry</label>
                        <span class="badges border font-weight-normal">3</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="skin-2"  >
                        <label class="custom-control-label" for="skin-2" >Sensitive</label>
                        <span class="badges border font-weight-normal">4</span>
                    </div>
                </form>
            </div>


            <!-- skin type -->
            <!-- <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">SPF</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="spf-all" [(ngModel)]="isCheckedAll"  (change)="filter('')"  name="isCheckedAll">
                        <label class="custom-control-label" for="spf-all">Between 15-30</label>
                        <span class="badges border font-weight-normal">36</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input"  [(ngModel)]="isChecked" id="spf-1" (change)="filter('below15')"  name="isChecked">
                        <label class="custom-control-label" for="spf-1">Below 15</label>
                        <span class="badges border font-weight-normal">6</span>
                    </div>

                </form>
            </div> -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">SPF</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="spf-all"   >
                        <label class="custom-control-label" for="spf-all">Between 15-30</label>
                        <span class="badges border font-weight-normal">14</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input"  id="spf-1" >
                        <label class="custom-control-label" for="spf-1">Below 15</label>
                        <span class="badges border font-weight-normal">6</span>
                    </div>

                </form>
            </div>



            <!-- skin type -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Conscious</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="Conscious-all" >
                        <label class="custom-control-label" for="Conscious-all">Clruelty Free</label>
                        <span class="badges border font-weight-normal">14</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="Conscious-1" >
                        <label class="custom-control-label" for="Conscious-1">Vegan</label>
                        <span class="badges border font-weight-normal">4</span>
                    </div>
                </form>
            </div>


            
        
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
              <!-- <app-search></app-search> -->

                <!-- <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                    <li class="product">
                        <a class="img-wrapper" href="#">
                            <img src="assets/img/Products/p-1.png" alt="Blue running shoe" style="height: 100%;" />
                        </a>

                        <div class="info pb-5">
                            <div class="title">Crebeau Placenta
                                Pearl Refreshing Toner</div>
                            <div class="price">$34.99</div>
                        </div>

                        <div class="actions-wrapper">
                            <a href="#" class="add-btn wishlist">Wishlist</a>
                            <a href="#" class="add-btn cart">Cart</a>
                        </div>
                    </li>
                </div> -->
               

                <!-- <ng-container *ngFor="let item of products"> -->
                    <ng-container *ngFor="let item of skin_care_products">
                        <!-- <a ruterLink="product-detail"> -->
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                       
                        <li class="product">
                        <a class="img-wrapper" routerLink="/product-detail/{{item.id}}">
                            <img src="{{item.imageUrl}}" alt="Blue running shoe" style="height: 100%;" />
                        </a>
                        <div class="info pb-5">
                            <div class="title"  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</div>
                            <div class="price">{{item.price | currency:'INR':'symbol-narrow':'4.2-2'}}</div>
                        </div>
                        <div class="actions-wrapper">
                            <a  routerLink="."   class="add-btn wishlist"  class="add-btn wishlist">Wishlist</a>
                            <a  routerLink="." class="add-btn cart">Cart</a>
                        </div>
                       
                        </li>
                    
                    </div>
                <!-- </a> -->
                    
                </ng-container>


            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->